<h3>Choix :</h3>
<div class="consult_choix">
        <input type="submit" id="count" value="COUNT">
        <div id="divcount"></div>
        
        <input type="submit" id="group" value="GROUP">
        <div id="divgroup"></div>

        <input type="submit" id="nrj" value="NRJ">
        <div id="divnrj"></div>
        
        <input type="submit" id="nones" value="NONES">
        <div id="divnones"></div>

</div>

<div class="consult_liste">
    
</div>